* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  align-items: center;
  box-shadow: 1px 6px 19px -10px black;
  display: flex;
  height: 50px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.ul-nav {
  display: flex;
}