* {
  margin: 0;
  padding: 0;
  /* border: 1px solid tomato; */
}

html, body {
	width: 100%;
	height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #336666;
  font-size: 21px;
  font-weight: 800;
  text-transform: uppercase;
}

.h1-white {
  color: white;
}

p {
  color: #336666;
  font-size: 15px;
  font-weight: 400;
  text-align-last: justify;
}

.p-white {
  color: white;
  text-align-last: left;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  align-items: center;
  background-color: #ececec;
  box-shadow: 0 -11px 28px 0 #1e1e1e;
  display: flex;
  height: 9vh;
}

.top-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
}

.ul-nav {
  display: flex;
}

.nav-links {
  color: #336666;
  padding: 3.2vh 25px;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-links:hover {
  color: #002c38;
}

#link-selected {
  background-color: #336666; 
  color: white; 
  font-size: 15px;
  font-weight: 800; 
}

.container-marcas {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87vh;
  margin: auto;
}

.images-rep {
  align-items: center;
  display: flex;
  margin-top: -20px;
}

.image-rep {
  filter: grayscale(100);
}

.image-rep:hover {
  filter: none;
}

.image-cliente {
  filter: grayscale(100);
  margin: 0 20px;
  max-width: 100px;
}

.image-cliente:hover {
  filter: none;
}

.images-clientes-2 {
  margin-bottom: 50px;
}

#fibrasca {
  margin: 0 60px;
}

.h1-marcas-rep {
  margin-top: 60px;
}

footer {
  align-items: flex-end;
  background-color: #002c38;
  display: flex;
  justify-content: center;
  height: 4vh;
}

.foot {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
}

#p-footer {
  color: white; 
  font-size: 15px; 
  font-weight: 400; 
  margin-top: 44px;
}

.wpp-icon {
  background-color: #cddfd8;
  padding: 8px 8px 26px 8px;
}

.icons-about {
  width: 35px;
}

input {
  border: 3px solid #336666;
  background-color: #336666;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  padding: 4px 10px;
  margin-top: 20px;
}

#menu {
  display: none;
}

#checkbox {
  display: none;
}

@media only screen and ( max-width: 1300px ) {

  body {
    height: auto;
  }

  header {
    display: none;
  }

  .container-marcas {
    height: 100%;
    text-align: center;
  }

  .h1-marcas-rep {
    margin-top: 48px;
  }

  .h1-clientes {
    margin: 30px auto;
  }

  .images-rep {
    flex-direction: column;
    margin-top: 20px;
  }
 
  .images-rep img {
    margin: 20px auto;
    width: 120px;
  }

  #fibrasca {
    margin: 20px auto;
    width: 220px;
  }

  .mobile-header {
    margin-bottom: 30px;
  }

  #checkbox {
    display: initial;
  }

  .image-home-one {
    display: none;
  }
  
  .image-shadow {
    display: none;
  }

  .container-about {
    height: 100%;
  }

  p {
    font-size: 13px;
  }

  .container-home {
    height: 92.2vh;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 35px;
    left: 35px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 50px;
  }

  #menuToggle a {
    text-decoration: none;
    color: #336666;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: #002c38;
  }


  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2; 
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #336666;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #002c38;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    display: initial;
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ececec;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

}

@media only screen and ( min-width : 1600px ) {
  .container-home {
    width: 70%;
  }

  .nav-links {
    padding: 3.6vh 25px;
  }

  #p-footer {
    font-size: 16px;
    margin-top: 40px;
  }

  .wpp-icon {
    padding: 8px 8px 45px 8px;
  }

}
